ul.figures-list.row.middle-xs.center-xs
    li
        a#ellipse(href='#')
            img(src='images/ellipse.png', alt='ellipse')
    li
        a#line(href='#')
            img(src='images/line.png', alt='line')
    li
        a#rect(href='#')
            img(src='images/rectangle.png', alt='rectangle')
