.right-bar-wrap.center-xs
    h3 Selected figure
    div.type-selected-figure
        span.type Type:
        input#type.form-control(type='text', value = type, disabled = true)
    #generalSettings.selected.row
        .block.control-group
            label.select-line-type(for='select-line-type-rb') Line type:
            select#select-line-type-rb.demo-default.line-type
                option(value='solid' selected=generalSettings.strokeDasharray === 'solid') solid
                option(value='dashed' selected=generalSettings.strokeDasharray === 'dashed') dashed
                option(value='dotted' selected=generalSettings.strokeDasharray === 'dotted') dotted
    #line-color-rb.selected.input-group.form-group.row
            label(for='color-line-rb') Line color:
            input#color-line-rb.form-control(type='text', value=generalSettings.stroke)
            span.input-group-addon(data-toggle='tooltip', data-placement='bottom', title='choose line color')
                i

        #bg-color-rb.selected.input-group.form-group.row
            label(for='color-bg-rb') Background color:
            input#color-bg-rb.form-control(type='text', value=generalSettings.fill)
            span.input-group-addon(data-toggle='tooltip', data-placement='bottom', title='choose background color')
                i
    span.styles-title Element Size and Position:
    #elementSettings.selected
        each item,key in elementSettings
            .block.item-height
                label #{key}:
                input.form-control.element(id='#{key}' , type='number', value = item, min="1")
