/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600italic);
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `maining` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*/
/*--------- RESET STYLES -------------*/
/*------------------------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

body {
  font: 14px "Open Sans", sans-serif;
  width: 100vw;
}

.row {
  margin: 0;
}

.application {
  min-width: 1260px;
}

.top-bar {
  height: 100px;
  border-bottom: 1px solid #c3c3c3;
}
.top-bar .logo {
  display: inline-block;
}
.top-bar .left-top-bar {
  width: 135px;
  border-right: 1px solid #c3c3c3;
  background: #E2E2E2;
}
.top-bar .right-top-bar {
  width: calc(100% - 135px);
  background: #F9F9F9;
}
.top-bar .menu-bar, .top-bar .app-name {
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
.top-bar .menu-bar li, .top-bar .app-name li {
  margin-right: 15px;
}
.top-bar .menu-bar li .fa, .top-bar .app-name li .fa {
  font-size: 17px;
  color: #404040;
}
.top-bar .menu-bar li .fa.fa-folder-open-o, .top-bar .app-name li .fa.fa-folder-open-o, .top-bar .menu-bar li .fa.fa-trash-o, .top-bar .app-name li .fa.fa-trash-o {
  font-size: 20px;
}
.top-bar .menu-bar li .fa.fa-floppy-o, .top-bar .app-name li .fa.fa-floppy-o {
  font-size: 19px;
}
.top-bar .menu-bar li .fa:hover, .top-bar .app-name li .fa:hover {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.top-bar .menu-bar li .fa.fa-times, .top-bar .app-name li .fa.fa-times {
  position: absolute;
  top: -4px;
  right: -3px;
  font-size: 15px;
}
.top-bar .menu-bar li .fa.fa-file-text-o, .top-bar .app-name li .fa.fa-file-text-o {
  font-size: 14px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #fff;
}
.top-bar .menu-bar li .fa.fa-files-o, .top-bar .app-name li .fa.fa-files-o {
  font-size: 19px;
}
.top-bar .menu-bar li #save-file:hover .fa, .top-bar .app-name li #save-file:hover .fa {
  color: #2a45ac;
}
.top-bar .menu-bar li #close-file, .top-bar .app-name li #close-file {
  position: relative;
}
.top-bar .menu-bar li #close-file:hover .fa, .top-bar .app-name li #close-file:hover .fa {
  color: #ec0101;
}
.top-bar .menu-bar li #close-file:hover .fa-times, .top-bar .app-name li #close-file:hover .fa-times {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.top-bar .menu-bar li #close-file:hover .fa-file-o, .top-bar .app-name li #close-file:hover .fa-file-o {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.top-bar .menu-bar li #paste, .top-bar .app-name li #paste {
  position: relative;
}
.top-bar .menu-bar li #paste:hover .fa, .top-bar .app-name li #paste:hover .fa {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.top-bar .file-editor-list, .top-bar .edit-list, .top-bar .general-settings {
  padding-right: 5px;
  border-right: 1px solid #404040;
}
.top-bar .edit-list, .top-bar .general-settings {
  padding: 0 5px 0 25px;
}
.top-bar .edit-list a.disabled, .top-bar .general-settings a.disabled {
  pointer-events: none;
  cursor: default;
}
.top-bar .edit-list a.disabled i, .top-bar .general-settings a.disabled i {
  color: #C1C0C0;
}
.top-bar .app-name {
  margin: 0 20px;
  background: #F9F9F9;
  border-bottom: 1px solid #c3c3c3;
}
.top-bar .app-name input {
  margin: 0 auto;
  height: 100%;
  width: 990px;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  outline: none;
  border: none;
  text-align: center;
  background: #F9F9F9;
}
.top-bar .app-name input:focus + .tooltip {
  display: none !important;
}
.top-bar .app-name .app-wrap {
  width: 100%;
}
.top-bar .general-settings {
  padding-left: 0;
  border: none;
}
.top-bar .general-settings li {
  height: 30px;
}
.top-bar .general-settings .input-group label {
  float: left;
  line-height: 30px;
}
.top-bar .general-settings .form-control {
  float: left;
  margin-left: 10px;
  width: 95px;
  height: 28px;
  -webkit-border-radius: 4px 0 0 4px !important;
  border-radius: 4px 0 0 4px !important;
}
.top-bar .general-settings .input-group-addon {
  display: inline-table;
  height: 28px;
  padding: 4px 10px;
  border-left: none;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.top-bar .general-settings .input-group-addon:hover {
  border-left: none;
}
.top-bar .line-type, .top-bar .paper-size {
  margin-left: 5px;
  width: 85px;
}
.top-bar .paper-size {
  width: 185px;
}
.top-bar .selectize-input {
  padding: 4px 8px;
}
.top-bar .selectize-dropdown {
  left: -5px !important;
}

.content-wrap {
  height: calc(100vh - 100px);
}

.left-bar {
  padding: 0 15px;
  width: 135px;
  height: calc(100vh - 100px);
  background: #F9F9F9;
  border-right: 1px solid #c3c3c3;
}
.left-bar .figures-list {
  padding: 15px 0;
  border-bottom: 1px solid #c3c3c3;
}
.left-bar .figures-list li {
  padding: 10px;
}
.left-bar .figures-list li a {
  display: inline-block;
  background: #fff;
  -moz-box-shadow: #c3c3c3 2px 2px 5px;
  -webkit-box-shadow: #c3c3c3 2px 2px 5px;
  box-shadow: #c3c3c3 2px 2px 5px;
}
.left-bar .figures-list img {
  display: inline-block;
  width: 70%;
  height: auto;
}

#svg-content {
  overflow: scroll;
  padding: 20px;
  width: calc(100% - 455px);
  height: calc(100vh - 100px);
  background: #E2E2E2;
}

#svg-content svg {
  background: #fff;
}

.right-bar {
  overflow-y: scroll;
  width: 320px;
  height: calc(100vh - 100px);
  background: #F9F9F9;
  border-left: 1px solid #c3c3c3;
}
.right-bar h3 {
  margin-bottom: 20px;
  font-weight: 700;
}
.right-bar .right-bar-wrap {
  padding: 15px;
  height: 100%;
  background: #F9F9F9;
}
.right-bar .right-bar-wrap #generalSettings {
  margin-top: 25px;
}
.right-bar .right-bar-wrap #elementSettings > div {
  float: left;
  width: 50%;
  padding: 0 5px;
}
.right-bar .right-bar-wrap #elementSettings > div label {
  display: block;
  width: 100%;
  text-align: center;
}
.right-bar .right-bar-wrap .selected {
  margin-bottom: 15px;
  width: 100%;
}
.right-bar .right-bar-wrap .selected label {
  display: flex;
  float: left;
  margin-right: 10px;
  line-height: 28px;
}
.right-bar .right-bar-wrap .selected#line-color-rb input, .right-bar .right-bar-wrap .selected#bg-color-rb input {
  float: left;
  width: 95px;
  height: 28px;
  -webkit-border-radius: 4px 0 0 4px !important;
  border-radius: 4px 0 0 4px !important;
}
.right-bar .right-bar-wrap .selected#line-color-rb > span, .right-bar .right-bar-wrap .selected#bg-color-rb > span {
  display: inline-table;
  height: 28px;
  padding: 4px 10px;
  border-left: none;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.right-bar .right-bar-wrap .selectize-control {
  display: flex;
  float: left;
  width: 85px;
  text-align: left;
  height: 28px;
}
.right-bar .right-bar-wrap .selectize-control .selectize-input {
  padding: 5px 5px 5px 10px;
}
.right-bar .right-bar-wrap .selectize-control .selected {
  margin-bottom: 0;
}
.right-bar .type-selected-figure {
  overflow: hidden;
  width: 100%;
}
.right-bar .type-selected-figure span {
  display: inline-block;
  float: left;
  padding-top: 10px;
}
.right-bar .type-selected-figure input {
  float: left;
  width: 80%;
  background: transparent;
  border: none;
  box-shadow: none;
  font-size: 17px;
  text-transform: capitalize;
  font-style: italic;
}
.right-bar .styles-title {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 15px;
  font-style: italic;
}

/* cursors styles */
#figure {
  cursor: move;
}

#tl {
  cursor: nw-resize;
}

#tm {
  cursor: n-resize;
}

#tr {
  cursor: ne-resize;
}

#ml {
  cursor: w-resize;
}

#mr {
  cursor: e-resize;
}

#bl {
  cursor: sw-resize;
}

#bm {
  cursor: s-resize;
}

#br {
  cursor: se-resize;
}

/* loader styles */
.sk-circle {
  width: 90px;
  height: 90px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #ec0101;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* The Modal */
.modal {
  display: block;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-content {
  position: relative;
  background: #fff url("../../images/cube-bg.jpg") 100% 101% no-repeat;
  background-size: 85px;
  margin: auto;
  padding: 0;
  width: 40%;
}

.modal-header h2 {
  font-style: italic;
}

.modal-body {
  padding: 0;
  min-height: 120px;
}
.modal-body .project-list {
  padding: 10px 0;
}
.modal-body .project-list li {
  padding: 0 20px;
  line-height: 40px;
  cursor: pointer;
}
.modal-body .project-list li.active {
  background: rgba(255, 0, 0, 0.49);
  color: #4b0000;
}
.modal-body .project-list li h4 {
  display: inline-block;
  margin-right: 10px;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.modal-body .project-list li p {
  display: inline-block;
}

.modal-footer {
  border: none;
  text-align: center;
}
.modal-footer button {
  border: none;
  background: rgba(236, 1, 1, 0.7);
  padding: 10px 25px;
  color: white;
  border-radius: 6px;
  font: 16px "Open Sans", sans-serif;
}
.modal-footer button:hover {
  background: rgba(236, 1, 1, 0.86);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.modal-close .fa {
  font-size: 20px;
}
.modal-close .fa:hover {
  color: #ec0101;
}

.radio-buttons {
  padding: 0 0 10px;
  overflow: hidden;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.radio-buttons li {
  position: relative;
  float: left;
}

.radio-buttons li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

.radio-buttons li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 10px 25px 10px 55px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  color: #404040;
  -webkit-transition: all 0.25s linear;
}

.radio-buttons li:hover label {
  color: #000;
}

.radio-buttons li .check {
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 17px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.radio-buttons li:hover .check {
  border: 5px solid #AAAAAA;
}

.radio-buttons li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.radio-buttons input[type=radio]:checked ~ .check {
  border: 5px solid #ec0101;
}

.radio-buttons input[type=radio]:checked ~ .check::before {
  background: #ec0101;
}

.radio-buttons input[type=radio]:checked ~ label {
  color: #ec0101;
}
