#openModal.modal
    .modal-content
        .modal-header
            h2 Create new or open exist project
        .modal-body
            ul.radio-buttons
                li
                    input#new.toggle_option(type='radio', name='toggle_option')
                    label(for='new') New
                    .check
                li
                    input#open.toggle_option(type='radio', name='toggle_option' checked=true)
                    label(for='open') Open
                    .check
            ul.project-list

        .modal-footer
            button(data-action='submit' disabled=true) Choose
            span.modal-close(data-action='close')
                i.fa.fa-times
