.top-bar.row
    .left-top-bar.row.middle-xs.center-xs
        h1
            a.logo(href='#')
                img(src='images/logo.png', alt='Easy Edit')
    .right-top-bar.row
        .app-name.row.middle-xs
        .menu-bar.row.middle-xs
        .application-modal