doctype html
html
    head
        title EasyEdit
        link(rel='stylesheet', href='styles/font-awesome/css/font-awesome.min.css')
        // Bootstrap ColorPicker
        link(rel='stylesheet', href='styles/css/bootstrap-colorpicker.min.css')
        // Selectize
        link(rel='stylesheet', href='styles/css/selectize.min.css')
        // Bootstrap
        link(rel='stylesheet', href='styles/css/bootstrap.min.css')
        // flexboxgrid
        link(rel='stylesheet', href='styles/css/flexboxgrid.min.css')
        // Main Styles
        link(rel='stylesheet', href='styles/css/main.css')
        // favicon
        link(rel='icon', href='images/favicon.png')

        script(data-main='./js/index.js' src='./js/libs/require.js')

    body
        block content