li
    .control-group.row.middle-xs
        label.select-line-type(for='select-line-type') line type:
        select#select-line-type.demo-default.line-type
            option(value='solid' selected=lineType === 'solid') solid
            option(value='dashed' selected=lineType === 'dashed') dashed
            option(value='dotted' selected=lineType === 'dotted') dotted
li
    #line-color.input-group.form-group.row.middle-xs
        label(for='color-line') line color:
        input#color-line.form-control(type='text', value=lineColor)
        span.input-group-addon(data-toggle='tooltip', data-placement='bottom', title='choose line color')
            i
li
    #bg-color.input-group.form-group.row.middle-xs
        label(for='color-bg') background color:
        input#color-bg.form-control(type='text', value=backgroundColor)
        span.input-group-addon(data-toggle='tooltip', data-placement='bottom', title='choose background color')
            i
li
    .control-group.row.middle-xs
        label(for='paper-size') paper size:
        select#paper-size.demo-default.paper-size
            option(value='a4' selected= width === 825) A4 (210 mm x 297 mm)
            option(value='a3' selected= width === 1168) A3 (297 mm x 420 mm)
            option(value='a5' selected= width === 583) A5 (148 mm x 210 mm)