@import "compass";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "variables";
@import "normalize";
@import "compass/css3/transform";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600italic);

/*------------------------------------*/
/*--------- RESET STYLES -------------*/
/*------------------------------------*/

* {
  @include box-sizing(border-box);
}

a {
  text-decoration: none;
}
a, button, i, input {
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
ul {
  list-style: none;
}
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
  padding:0;
  margin:0;
  line-height: 1em;
}
body {
  font: 14px "Open Sans", sans-serif;
  width: 100vw;
}
.row {
  margin: 0;
}
.application {
  min-width: 1260px;
}
.top-bar {
  height: 100px;
  border-bottom: 1px solid $grey-border;
  .logo {
    display: inline-block;
  }
  .left-top-bar {
    width: 135px;
    border-right: 1px solid $grey-border;
    background: #E2E2E2;
  }
  .right-top-bar {
    width: calc(100% - 135px);
    background: $light-grey;
  }
  .menu-bar {
    padding: 0 20px;
    width: 100%;
    height: 50px;
    li {
      margin-right: 15px;
      .fa {
        font-size: 17px;
        color: $grey-icon;
        &.fa-folder-open-o, &.fa-trash-o {
          font-size: 20px;
        }
        &.fa-floppy-o {
          font-size: 19px;
        }
        &:hover {
          @include scale(1.2, 1.2);
        }
        &.fa-times {
          position: absolute;
          top: -4px;
          right: -3px;
          font-size: 15px;
        }
        &.fa-file-text-o {
          font-size: 14px;
          position: absolute;
          top: 5px;
          left: 5px;
          background: $white;
        }
        &.fa-files-o {
          font-size: 19px;
        }
      }
      #save-file {
        &:hover .fa {
          color: $blue-hover;
        }
      }
      #close-file {
        position: relative;
        &:hover .fa {
          color: $red-hover;
        }
        &:hover .fa-times {
          @include scale(1.2, 1.2);
        }
        &:hover .fa-file-o {
          @include scale(1, 1);
        }
      }
      #paste {
        position: relative;
        &:hover .fa {
          @include scale(1.2, 1.2);
        }
      }
    }
  }
  .file-editor-list {
    padding-right: 5px;
    border-right: 1px solid $grey-icon;
  }
  .edit-list {
    @extend .file-editor-list;
    padding: 0 5px 0 25px;
    a.disabled {
      pointer-events: none;
      cursor: default;
      i {
        color: $disabled-color;
      }
    }
  }
  .app-name {
    @extend .menu-bar;
    margin: 0 20px;
    background: $light-grey;
    border-bottom: 1px solid $grey-border;
    input {
      margin: 0 auto;
      height: 100%;
      width: 990px;
      font-style: italic;
      font-weight: 600;
      font-size: 20px;
      outline: none;
      border: none;
      text-align: center;
      background: $light-grey;
      &:focus + .tooltip {
        display: none !important;
      }
    }
    .app-wrap {
      width: 100%;
    }
  }
  .general-settings {
    @extend .edit-list;
    padding-left: 0;
    border: none;
    li {
      height: 30px;
    }
    .input-group {
      label {
        float: left;
        line-height: 30px;
      }
    }
    .form-control {
      float: left;
      margin-left: 10px;
      width: 95px;
      height: 28px;
      -webkit-border-radius: 4px 0 0 4px !important;
      border-radius: 4px 0 0 4px !important;
    }
    .input-group-addon {
      display: inline-table;
      height: 28px;
      padding: 4px 10px;
      border-left: none;
      @include border-radius(0 4px 4px 0);
      &:hover {
        border-left: none;
      }
    }
  }
  .line-type {
    margin-left: 5px;
    width: 85px;
  }
  .paper-size {
    @extend .line-type;
    width: 185px;
  }
  .selectize-input {
    padding: 4px 8px;
  }
  .selectize-dropdown {
    left: -5px !important;
  }
}
.content-wrap {
  height: calc(100vh - 100px);
}
.left-bar {
  padding: 0 15px;
  width: 135px;
  height: calc(100vh - 100px);
  background: $light-grey;
  border-right: 1px solid $grey-border;
  .figures-list {
    padding: 15px 0;
    border-bottom: 1px solid $grey-border;
    li {
      padding: 10px;
      a {
        display: inline-block;
        background: $white;
        @include box-shadow($grey-border 2px 2px 5px);
      }
    }
    img {
      display: inline-block;
      width: 70%;
      height: auto;
    }
  }
}
#svg-content {
  overflow: scroll;
  padding: 20px;
  width: calc(100% - 455px);
  height: calc(100vh - 100px);
  background: #E2E2E2;
}
#svg-content svg {
  background: $white;
}
.right-bar {
  overflow-y: scroll;
  width: 320px;
  height: calc(100vh - 100px);
  background: $light-grey;
  border-left: 1px solid $grey-border;
  h3 {
    margin-bottom: 20px;
    font-weight: 700;
  }
  .right-bar-wrap {
    padding: 15px;
    height: 100%;
    background: $light-grey;
    #generalSettings {
      margin-top: 25px;
    }
    #elementSettings {
      > div {
        float: left;
        width: 50%;
        padding: 0 5px;
        label {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
    .selected {
      margin-bottom: 15px;
      width: 100%;
      label {
        display: flex;
        float: left;
        margin-right: 10px;
        line-height: 28px;
      }
      &#line-color-rb,
      &#bg-color-rb {
        input {
          float: left;
          width: 95px;
          height: 28px;
          -webkit-border-radius: 4px 0 0 4px !important;
          border-radius: 4px 0 0 4px !important;
        }
        > span {
          display: inline-table;
          height: 28px;
          padding: 4px 10px;
          border-left: none;
          -moz-border-radius: 0 4px 4px 0;
          -webkit-border-radius: 0;
          border-radius: 0 4px 4px 0;
        }
      }
    }
    .selectize-control {
      display: flex;
      float: left;
      width: 85px;
      text-align: left;
      height: 28px;
      .selectize-input {
        padding: 5px 5px 5px 10px;
      }
      .selected {
        margin-bottom: 0;
      }
    }
  }
  .type-selected-figure {
    overflow: hidden;
    width: 100%;
    span {
      display: inline-block;
      float: left;
      padding-top: 10px;
    }
    input {
      float: left;
      width: 80%;
      background: transparent;
      border: none;
      box-shadow: none;
      font-size: 17px;
      text-transform: capitalize;
      font-style: italic;
    }
  }
  .styles-title {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 15px;
    font-style: italic;
  }
}


/* cursors styles */
#figure {
  cursor: move;
}

#tl {
  cursor: nw-resize;
}
#tm {
  cursor: n-resize;
}
#tr {
  cursor: ne-resize;
}
#ml {
  cursor: w-resize;
}
#mr {
  cursor: e-resize;
}
#bl {
  cursor: sw-resize;
}
#bm {
  cursor: s-resize;
}
#br {
  cursor: se-resize;
}

/* loader styles */
.sk-circle {
  width: 90px;
  height: 90px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    &:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #ec0101;
      border-radius: 100%;
      -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
      animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    }
  }
  .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    &:before {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }
  }
  .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    &:before {
      -webkit-animation-delay: -1s;
      animation-delay: -1s;
    }
  }
  .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    &:before {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }
  }
  .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    &:before {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }
  }
  .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
    &:before {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
  }
  .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    &:before {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
  }
  .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
    &:before {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
  }
  .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
    &:before {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
  }
  .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    &:before {
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }
  .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
    &:before {
      -webkit-animation-delay: -0.2s;
      animation-delay: -0.2s;
    }
  }
  .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
    &:before {
      -webkit-animation-delay: -0.1s;
      animation-delay: -0.1s;
    }
  }

}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

/* The Modal */
.modal {
  display: block;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, .6);
}
/* Modal Content */
.modal-content {
  position: relative;
  background: $white url('../../images/cube-bg.jpg') 100% 101% no-repeat;
  background-size: 85px;
  margin: auto;
  padding: 0;
  width: 40%;
}
.modal-header {
  h2 {
    font-style: italic;
  }
}
.modal-body {
  padding: 0;
  min-height: 120px;
  .project-list {
    padding: 10px 0;
    li {
      padding: 0 20px;
      line-height: 40px;
      cursor: pointer;
      &.active {
        background: rgba(255, 0, 0, .49);
        color: #4b0000;
      }
      h4 {
        display: inline-block;
        margin-right: 10px;
        font-size: 22px;
        font-style: italic;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
      }
      p {
        display: inline-block;
      }
    }
  }
}


.modal-footer {
  border: none;
  text-align: center;
  button {
    border: none;
    background: rgba(236, 1, 1, 0.7);
    padding: 10px 25px;
    color: white;
    border-radius: 6px;
    font: 16px "Open Sans", sans-serif;
    &:hover {
      background: rgba(236, 1, 1, 0.86);
    }
  }
}

.modal-footer button {

}

.modal-footer button:disabled {

}
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  .fa {
    font-size: 20px;
    &:hover {
      color: $red-hover;
    }
  }
}

.radio-buttons {
  padding: 0 0 10px;
  overflow: hidden;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}


.radio-buttons li{
  position: relative;
  float: left;
}

.radio-buttons li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.radio-buttons li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 10px 25px 10px 55px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  color: $grey-icon;
  -webkit-transition: all 0.25s linear;
}

.radio-buttons li:hover label{
  color: $black;
}

.radio-buttons li .check{
  display: block;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 17px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

.radio-buttons li:hover .check {
  border: 5px solid #AAAAAA;
}

.radio-buttons li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 11px;
  width: 11px;
  top: 2px;
  left: 2px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

.radio-buttons input[type=radio]:checked ~ .check {
  border: 5px solid $red-hover;
}

.radio-buttons input[type=radio]:checked ~ .check::before{
  background: $red-hover;
}

.radio-buttons input[type=radio]:checked ~ label{
  color: $red-hover;
}
