ul.file-editor-list.row
    li
        a#new-file(href='#', data-toggle='tooltip', data-placement='bottom', data-action='new-document' title='new ' +
        'document ' + '(alt+N)')
            i.fa.fa-file-o
    li
        a#open-file(href='#', data-toggle='tooltip', data-placement='bottom', title='open file (alt+O)')
            i.fa.fa-folder-open-o
ul.edit-list.row
    li
        a#copy(href='#', data-toggle='tooltip', data-placement='bottom', title='Copy element (alt+C)')
            i.fa.fa-files-o
    li
        a#delete(href='#', data-toggle='tooltip', data-placement='bottom', title='Delete element (Del)')
            i.fa.fa-trash-o
    li
        a#forward(href='#', data-toggle='tooltip', data-placement='bottom', title='Up element (alt+Up)')
            i.fa.fa-hand-o-up
    li
        a#back(href='#', data-toggle='tooltip', data-placement='bottom', title='Down element (alt+Down)')
            i.fa.fa-hand-o-down
input#app-name(data-toggle='tooltip', data-placement='bottom', title='Change Name', type='text', value = title)
